*{
    margin: 0%;/* 外余白 */
    padding: 0%;/*中余白 */
}
body{
    background-color: white;
}
.t{
    background-color: wheat;
    font-size : 60px;
    padding: 15px;/*　中余白 */
    font-family: "Yu Gothic", sans-serif; /* フォント種類*/
    text-align: center;/* 文字位置 */
}
nav {
    justify-content: center; /* 真ん中に配置 */
    gap: 40px; /* ←ここが間隔 */
    background-color: rgb(127, 94, 35);
    padding: 15px;
}
.main{
    font-size: 40px;
    padding: 8%;
    text-align: center;
    position: relative;
    z-index: 2;
}
nav ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
}
 nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}