*{
    margin: 0%;/* 外余白 */
    padding: 0%;/*中余白 */
}
body{
    background-color: white;
}
.t{
    background-color: wheat;
    font-size: 60px;
    padding: 15px;/*　中余白 */
    font-family: "Yu Gothic", sans-serif; /* フォント種類*/
    text-align: center;/* 文字位置 */
}
nav{
     display: flex;/* 横並びにする */
    justify-content: center; /* 真ん中に配置 */
    gap: 40px; /* ←ここが間隔 */
    background-color: #fffacd;
    padding: 15px;
}
.main{
    background-color: antiquewhite;
    font-size: 40px;
    padding: 8%;
    text-align: center;
    position: relative;
    z-index: 2;
}
img{
    top: -200px;
    left: 30%;
    position: relative;
    z-index: 1;
}
