*{

margin:0;

padding:0;

box-sizing:border-box;

}



body{

font-family:"Yu Gothic",sans-serif;

background:#fafafa;

color:#333;

}




/* ヘッダー */

header{

background:white;

text-align:center;

padding:40px 0;

}



h1{

font-size:45px;

letter-spacing:3px;

margin-bottom:35px;

}





/* メニュー */

nav ul{

display:flex;

justify-content:center;

gap:45px;

list-style:none;

}



nav a{

text-decoration:none;

font-size:18px;

font-weight:bold;

color:#333;

}



nav a:hover{

color:#c7955a;

}





/*ランキング*/

.ranking{

width:1100px;

margin:70px auto;

}



.ranking h2{

text-align:center;

font-size:35px;

margin-bottom:50px;

}





.rank-area{

display:flex;

gap:40px;

align-items:center;

}





/* 1位 */

.rank-first{

width:450px;

background:white;

padding:25px;

border-radius:20px;

box-shadow:0 5px 20px rgba(0,0,0,0.1);

}



.rank-first img{

width:100%;

height:350px;

object-fit:cover;

border-radius:15px;

}




.rank-first h3{

font-size:25px;

margin:15px 0;

}





/* 2～5位 */

.rank-list{

display:grid;

grid-template-columns:220px 220px;

gap:25px;

}




.rank-box{

background:white;

padding:15px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,0.08);

}



.rank-box img{

width:100%;

height:140px;

object-fit:cover;

border-radius:10px;

}



.rank-box h3{

font-size:18px;

margin-top:10px;

}



.rank-box p,
.rank-first p{

font-weight:bold;

color:#c7955a;

}


/* スマホ対応 */

@media(max-width:900px){


.ranking{

width:90%;

}

.rank-area{

flex-direction:column;

}

.rank-list{

grid-template-columns:1fr 1fr;

}

}


/* 食事管理ページ */

.food-page{

width:1100px;

margin:70px auto;

}



.food-page h2,
.point h2{

text-align:center;

font-size:35px;

margin-bottom:30px;

}



.intro{

text-align:center;

font-size:18px;

margin-bottom:50px;

}




.food-container{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:40px;

}




.food-card{

background:white;

padding:25px;

border-radius:20px;

box-shadow:0 5px 20px rgba(0,0,0,0.1);

}



.food-card img{

width:100%;

height:250px;

object-fit:cover;

border-radius:15px;

}



.food-card h3{

font-size:25px;

margin:15px 0;

}




.point{

width:800px;

margin:80px auto;

background:white;

padding:40px;

border-radius:20px;

}



.point li{

font-size:18px;

margin:15px;

}



@media(max-width:900px){


.food-page{

width:90%;

}


.food-container{

grid-template-columns:1fr;

}


}

/* 食材ページ */


.food-container{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:35px;

}



.food-card{

transition:0.3s;

}



.food-card:hover{

transform:translateY(-8px);

}




.food-card p{

line-height:1.8;

}





@media(max-width:900px){


.food-container{

grid-template-columns:1fr;

}


}


/* スケジュール */

.schedule{

width:900px;

margin:80px auto;

}


.schedule h2,
.metabolism h2{

text-align:center;

font-size:35px;

margin-bottom:30px;

}



table{

width:100%;

border-collapse:collapse;

background:white;

}



th{

background:#eee;

}



th,td{

padding:20px;

border:1px solid #ddd;

text-align:center;

}





/* 基礎代謝 */

.metabolism{

width:800px;

margin:80px auto;

background:white;

padding:40px;

border-radius:20px;

line-height:2;

}



.metabolism h3{

margin-top:25px;

}



.example{

margin-top:30px;

padding:20px;

background:#fafafa;

border-radius:15px;

}